ETL.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ca670cc6-0179-1000-9462-07db52ddfb04</groupId>
    <name>ETL</name>
    <snippet>
        <controllerServices>
            <id>5cd3a81f-e3e3-36a8-0000-000000000000</id>
            <parentGroupId>63919f5e-d3a0-39f4-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp</key>
                    <value>
                        <name>Timestamp</name>
                    </value>
                </entry>
                <entry>
                    <key>Z1</key>
                    <value>
                        <name>Z1</name>
                    </value>
                </entry>
                <entry>
                    <key>Z2</key>
                    <value>
                        <name>Z2</name>
                    </value>
                </entry>
                <entry>
                    <key>Z3</key>
                    <value>
                        <name>Z3</name>
                    </value>
                </entry>
                <entry>
                    <key>Z4</key>
                    <value>
                        <name>Z4</name>
                    </value>
                </entry>
                <entry>
                    <key>Z5</key>
                    <value>
                        <name>Z5</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonPathReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{"name":"real_time",
 "type":"record",
 "fields":[
          {"name":"Timestamp","type":"string"},
          {"name":"Z1","type":"string"},
          {"name":"Z2","type":"string"},
          {"name":"Z3","type":"string"},{"name":"Z4","type":"string"},{"name":"Z5","type":"string"}]
}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Timestamp</key>
                    <value>$.Timestamp</value>
                </entry>
                <entry>
                    <key>Z1</key>
                    <value>$.Z1</value>
                </entry>
                <entry>
                    <key>Z2</key>
                    <value>$.Z2</value>
                </entry>
                <entry>
                    <key>Z3</key>
                    <value>$.Z3</value>
                </entry>
                <entry>
                    <key>Z4</key>
                    <value>$.Z4</value>
                </entry>
                <entry>
                    <key>Z5</key>
                    <value>$.Z5</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonPathReader</type>
        </controllerServices>
        <controllerServices>
            <id>8739b835-e993-3805-0000-000000000000</id>
            <parentGroupId>63919f5e-d3a0-39f4-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${r}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{"name":"real_time",
 "type":"record",
 "fields":[
          {"name":"ts","type":"string"},
          {"name":"x","type":"string"},
          {"name":"y","type":"string"},
          {"name":"z","type":"string"}]
}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>c4c743b0-f522-33fd-0000-000000000000</id>
            <parentGroupId>63919f5e-d3a0-39f4-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0233ae24-334a-35fd-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1488.0</x>
                        <y>520.0</y>
                    </bends>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>61bbbe6d-023a-3470-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
                        <id>8b85b3f7-ed9a-3abc-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0c9217e6-66e1-3d6d-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>fe64f554-e373-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>983efae1-4ea4-33ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1385bbf5-68cf-3b5b-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>10f6f798-86c3-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>61bbbe6d-023a-3470-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1779abee-0949-3bf7-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-2024.0</x>
                        <y>264.0</y>
                    </bends>
                    <bends>
                        <x>-2032.0</x>
                        <y>1208.0</y>
                    </bends>
                    <bends>
                        <x>-184.0</x>
                        <y>1224.0</y>
                    </bends>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>fe64f554-e373-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
                        <id>f2b16a3d-e77c-36b9-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c82dab3-d96c-363f-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>b5a3ada0-c777-3264-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>10f6f798-86c3-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1cb21a36-3931-3f58-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>748c1616-484e-3289-0000-000000000000</groupId>
                        <id>b871408f-1300-32f6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Message</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>c3f18d92-53be-30e4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27b1e243-a4dc-3da5-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
                        <id>0be07e2d-54ad-3f36-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>61bbbe6d-023a-3470-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>374d2b47-3199-3b65-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>fe64f554-e373-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>748c1616-484e-3289-0000-000000000000</groupId>
                        <id>bb365a8c-d15f-3e4b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5138eab3-1fd4-3312-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>fe64f554-e373-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>49cb133a-67f4-3f04-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6319ad42-babe-3850-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>61bbbe6d-023a-3470-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>c912e234-8dac-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f0c656a-c913-3d6d-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
                        <id>95989068-d2d9-368b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>10f6f798-86c3-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>77a224b2-77a7-3f76-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1080.0</x>
                        <y>128.0</y>
                    </bends>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>10f6f798-86c3-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
                        <id>995450b6-0078-3418-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d76e8c7c-a1d3-342e-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>49cb133a-67f4-3f04-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>parse.failure</selectedRelationships>
                    <source>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>c3f18d92-53be-30e4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d79fad28-74b0-3381-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1488.0</x>
                        <y>976.0</y>
                    </bends>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>983efae1-4ea4-33ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
                        <id>4d7a4425-ef0d-36f3-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ee414939-9d0c-3578-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4c743b0-f522-33fd-0000-000000000000</groupId>
                        <id>c912e234-8dac-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>748c1616-484e-3289-0000-000000000000</groupId>
                        <id>37f1a4ee-44bd-378e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>748c1616-484e-3289-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>96.0</x>
                        <y>432.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>11321c3e-987e-32c5-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>9b9b6724-6767-3b67-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>c9ece2e3-0f8e-364e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>39fb911b-7eb0-3b15-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>c9ece2e3-0f8e-364e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>b871408f-1300-32f6-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4dab4cc4-fc51-32c2-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>6a8db743-0f4c-3af2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>c9ece2e3-0f8e-364e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5e5d0510-6dd6-3f75-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-496.0</x>
<y>936.0</y>
                            </bends>
                            <bends>
<x>-496.0</x>
<y>1128.0</y>
                            </bends>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>bb365a8c-d15f-3e4b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>88d1f564-61e3-36e3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9daa77cc-7d22-33a9-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>8d72bbce-4662-3555-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>c9ece2e3-0f8e-364e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bd84e5d1-aaf5-3d6f-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>16.0</x>
<y>1128.0</y>
                            </bends>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>bb365a8c-d15f-3e4b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>8d72bbce-4662-3555-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bf3345e7-8b24-3219-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>37f1a4ee-44bd-378e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>9b9b6724-6767-3b67-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e8dc9d3a-7136-3fd9-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>88d1f564-61e3-36e3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>9b9b6724-6767-3b67-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eea8365a-d6d6-3097-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>544.0</x>
<y>1136.0</y>
                            </bends>
                            <destination>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>bb365a8c-d15f-3e4b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>748c1616-484e-3289-0000-000000000000</groupId>
<id>6a8db743-0f4c-3af2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>b871408f-1300-32f6-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>1016.0</x>
<y>448.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>to_json_merge</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>37f1a4ee-44bd-378e-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>-1184.0</x>
<y>448.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>to save file</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>bb365a8c-d15f-3e4b-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>160.0</x>
<y>1112.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>to_error</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>6a8db743-0f4c-3af2-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>824.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>
            <name>err_msg</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>fail to extract timestamp.</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update err msg</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>88d1f564-61e3-36e3-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>-672.0</x>
<y>656.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>
            <name>err_msg</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>fail to merge jsons.</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update err msg</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>8d72bbce-4662-3555-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>-160.0</x>
<y>624.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>
            <name>err_msg</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>err_msg</key>
        <value>fail to extract timestamp.</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update err msg</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>9b9b6724-6767-3b67-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>-672.0</x>
<y>408.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>
            <name>merge-strategy</name>
        </value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>
            <name>correlation-attribute-name</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>
            <name>min-records</name>
        </value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>
            <name>max-records</name>
        </value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>
            <name>min-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>
            <name>max-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>
            <name>max-bin-age</name>
        </value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>
            <name>max.bin.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>5cd3a81f-e3e3-36a8-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>8739b835-e993-3805-0000-000000000000</value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>ts</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>200000</value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>10 B</value>
    </entry>
    <entry>
        <key>max-bin-size</key>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>2 sec</value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeRecord</type>
                        </processors>
                        <processors>
                            <id>c9ece2e3-0f8e-364e-0000-000000000000</id>
                            <parentGroupId>748c1616-484e-3289-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>408.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>ts</key>
        <value>
            <name>ts</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>warn</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>ts</key>
        <value>$.Timpstamp</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>parsing JSON</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>c199280a-4ffd-38cc-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3968.0</x>
                        <y>432.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2e15a453-6de2-3a77-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-4248.0</x>
<y>360.0</y>
                            </bends>
                            <destination>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>6ac52d65-22bc-3f93-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>95084570-f4d6-30ce-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2eb262eb-455a-3646-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-3768.0</x>
<y>360.0</y>
                            </bends>
                            <destination>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>6ac52d65-22bc-3f93-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>542c4af4-41e3-3162-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9d3f4f57-3624-30f6-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>6ac52d65-22bc-3f93-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>b3079da8-c53d-3e09-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d0e28d27-fff7-38c8-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>6ac52d65-22bc-3f93-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>96c1e577-f476-33cd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d254cd89-3471-35be-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>6ac52d65-22bc-3f93-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>c199280a-4ffd-38cc-0000-000000000000</groupId>
<id>8538a839-6b70-34cc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>6ac52d65-22bc-3f93-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-4032.0</x>
<y>336.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>542c4af4-41e3-3162-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-3944.0</x>
<y>88.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>
            <name>add-attributes-as-fields</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>tcp://localhost:1883</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>edward</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>vibration/time_domain</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Results of TimeDomain Feature</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                        <processors>
                            <id>8538a839-6b70-34cc-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-4856.0</x>
<y>504.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>
            <name>add-attributes-as-fields</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>tcp://localhost:1883</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>edward</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>vibration/stft</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Results of STFT</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                        <processors>
                            <id>95084570-f4d6-30ce-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-4423.8700681211885</x>
<y>85.27408139722391</y>
                            </position>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>
            <name>add-attributes-as-fields</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>tcp://localhost:1883</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>edward</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>vibration/fft</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Results of FFT</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                        <processors>
                            <id>96c1e577-f476-33cd-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-4184.0</x>
<y>512.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>
            <name>add-attributes-as-fields</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>tcp://localhost:1883</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>edward</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>vibration/envelope</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Results of envelope</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                        <processors>
                            <id>b3079da8-c53d-3e09-0000-000000000000</id>
                            <parentGroupId>c199280a-4ffd-38cc-0000-000000000000</parentGroupId>
                            <position>
<x>-3448.0</x>
<y>488.0</y>
                            </position>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>
            <name>add-attributes-as-fields</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>tcp://localhost:1883</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>edward</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>vibration/dwt</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>record-reader</key>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>add-attributes-as-fields</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Results of DWT</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>test MQTT</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>e6d405f2-38fd-3ecd-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1680.0</x>
                        <y>736.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0e82f87f-0e4e-3fd0-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>4d7a4425-ef0d-36f3-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>limits</selectedRelationships>
                            <source>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>2ed422a4-9edc-3f36-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>53644bc0-7258-3c98-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>8b85b3f7-ed9a-3abc-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>0915cd9f-119e-32f9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5f46d805-e850-31a1-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>2ed422a4-9edc-3f36-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>0be07e2d-54ad-3f36-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e595f0ea-c238-30de-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>0915cd9f-119e-32f9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e6d405f2-38fd-3ecd-0000-000000000000</groupId>
<id>2ed422a4-9edc-3f36-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0be07e2d-54ad-3f36-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <position>
<x>-960.0</x>
<y>496.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>from failure</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>4d7a4425-ef0d-36f3-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <position>
<x>-1368.0</x>
<y>320.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Reach Upper Limit</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>8b85b3f7-ed9a-3abc-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <position>
<x>-2328.0</x>
<y>504.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Re TRY</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0915cd9f-119e-32f9-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <position>
<x>-1936.0</x>
<y>464.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>counts</key>
        <value>
            <name>counts</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>counts</key>
        <value>${counts:isNull():ifElse(1,${counts:toNumber():plus(1)})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>2ed422a4-9edc-3f36-0000-000000000000</id>
                            <parentGroupId>e6d405f2-38fd-3ecd-0000-000000000000</parentGroupId>
                            <position>
<x>-1424.0</x>
<y>464.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>limits</key>
        <value>
            <name>limits</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>limits</key>
        <value>${counts:toDecimal():gt(5)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Check Retry Count</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>limits</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Retry</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>f76f19ce-b918-3d30-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1640.0</x>
                        <y>176.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>128ac273-08c5-3370-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>79b226e2-9477-3e7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>99ea8e08-9fa7-3de9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>13d231b1-3fe6-3b37-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>995450b6-0078-3418-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>79b226e2-9477-3e7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bffdff68-9a54-3103-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>8afef2f0-37b8-3408-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>limits</selectedRelationships>
                            <source>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>99ea8e08-9fa7-3de9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e2210610-9830-38b7-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>f2b16a3d-e77c-36b9-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>8afef2f0-37b8-3408-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f3eae27e-158f-3a40-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>99ea8e08-9fa7-3de9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>f76f19ce-b918-3d30-0000-000000000000</groupId>
<id>95989068-d2d9-368b-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>95989068-d2d9-368b-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-960.0</x>
<y>496.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>from failure</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>995450b6-0078-3418-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-2328.0</x>
<y>504.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Re TRY</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>f2b16a3d-e77c-36b9-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-1368.0</x>
<y>64.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Reach Upper Limit</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>79b226e2-9477-3e7f-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-1936.0</x>
<y>464.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>counts</key>
        <value>
            <name>counts</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>counts</key>
        <value>${counts:isNull():ifElse(1,${counts:toNumber():plus(1)})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>10 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>8afef2f0-37b8-3408-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-1424.0</x>
<y>224.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>error_msg</key>
        <value>
            <name>error_msg</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>error_msg</key>
        <value>Transforming Fails</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Error Message</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>99ea8e08-9fa7-3de9-0000-000000000000</id>
                            <parentGroupId>f76f19ce-b918-3d30-0000-000000000000</parentGroupId>
                            <position>
<x>-1424.0</x>
<y>464.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>limits</key>
        <value>
            <name>limits</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>limits</key>
        <value>${counts:toDecimal():gt(5)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Check Retry Count</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>limits</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Copy of Retry</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>10f6f798-86c3-3e92-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-960.0</x>
                        <y>200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>C:\Users\Edward\PycharmProjects\wavelet_POC\data_transform.py;-p;${filename} </value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>${script_path}</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Transform</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>49cb133a-67f4-3f04-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>608.0</x>
                        <y>912.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>error_msg</key>
<value>
    <name>error_msg</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>error_msg</key>
<value>mqtt parsing error!</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>mqtt_pase error</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>61bbbe6d-023a-3470-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-960.0</x>
                        <y>456.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>C:\Users\Edward\PycharmProjects\wavelet_POC\real_time\</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>983efae1-4ea4-33ec-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-944.0</x>
                        <y>912.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>error_msg</key>
<value>
    <name>error_msg</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>error_msg</key>
<value>save file error!</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>save file error</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>b5a3ada0-c777-3264-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-568.0</x>
                        <y>-24.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>End</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>c3f18d92-53be-30e4-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>608.0</x>
                        <y>456.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Group ID</key>
<value>
    <name>Group ID</name>
</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>
    <name>Topic Filter</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>
    <name>Max Queue Size</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>add-attributes-as-fields</key>
<value>
    <name>add-attributes-as-fields</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://192.168.1.85:8087</value>
                            </entry>
                            <entry>
<key>Client ID</key>
                            </entry>
                            <entry>
<key>Username</key>
<value>iii</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Group ID</key>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>Try/MQTT</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>10240</value>
                            </entry>
                            <entry>
<key>record-reader</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>add-attributes-as-fields</key>
<value>true</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>From Sensor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Message</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>parse.failure</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                </processors>
                <processors>
                    <id>c912e234-8dac-317b-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-376.0</x>
                        <y>456.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${ts:toDate('yyyy-MM-dd HH:mm:ss'):format("yyyy_MM_dd_HH_mm_ss")}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update filename</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>fe64f554-e373-3122-0000-000000000000</id>
                    <parentGroupId>c4c743b0-f522-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-360.0</x>
                        <y>912.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>SMTP Hostname</key>
<value>
    <name>SMTP Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>
    <name>SMTP Port</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
<value>
    <name>SMTP Username</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Password</key>
<value>
    <name>SMTP Password</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>
    <name>SMTP Auth</name>
</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>
    <name>SMTP TLS</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>
    <name>SMTP Socket Factory</name>
</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>
    <name>SMTP X-Mailer Header</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>From</key>
<value>
    <name>From</name>
</value>
                            </entry>
                            <entry>
<key>To</key>
<value>
    <name>To</name>
</value>
                            </entry>
                            <entry>
<key>CC</key>
<value>
    <name>CC</name>
</value>
                            </entry>
                            <entry>
<key>BCC</key>
<value>
    <name>BCC</name>
</value>
                            </entry>
                            <entry>
<key>Subject</key>
<value>
    <name>Subject</name>
</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>
    <name>Message</name>
</value>
                            </entry>
                            <entry>
<key>email-ff-content-as-message</key>
<value>
    <name>email-ff-content-as-message</name>
</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>
    <name>Attach File</name>
</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>
    <name>Include All Attributes In Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>SMTP Hostname</key>
<value>iii.org.tw</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>25</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
                            </entry>
                            <entry>
<key>SMTP Password</key>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>false</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>javax.net.ssl.SSLSocketFactory</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>NiFi</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>text/plain</value>
                            </entry>
                            <entry>
<key>From</key>
<value>non-reply@iii.org.tw</value>
                            </entry>
                            <entry>
<key>To</key>
<value>edwardhung@iii.org.tw</value>
                            </entry>
                            <entry>
<key>CC</key>
                            </entry>
                            <entry>
<key>BCC</key>
                            </entry>
                            <entry>
<key>Subject</key>
<value>Message from NiFi</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>err_msg</value>
                            </entry>
                            <entry>
<key>email-ff-content-as-message</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Error Notification</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutEmail</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>IPC</name>
            <variables>
                <entry>
                    <key>script_path</key>
                    <value>C:\Users\Edward\Anaconda3\envs\vibration-analysis\python.exe</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>06/02/2021 04:32:34 UTC</timestamp>
</template>
